body{
    margin: 0;
    padding: 0;

       header{
        display: flex;
        align-items: center;
        background-color: rgb(250, 250, 250);
        width: 100%;
        height: 100px;
        }  
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(230, 230, 230);
            width: 100%;
            height: 10%;
        }
        main{
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: row;}
        aside{
                flex-direction: column;
                display: flex;
            }
        article{
                flex-direction: column;
                display: flex;
            }
}
.Logo{
    padding-left: 2%;
    width: 50%;
    height: 120%;
    padding-right: 2%;
}
.direitaHeader{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 100%;
    margin-right: 50px;
    margin-left: 50px;
}
.esquerdaHeader{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}
.p1{
    font-size: 20px;
}
nav{
    padding: 5px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 10%;
}
.buscar{
    background-color: rgb(222, 222, 222);
    border-radius: 15px;
    font-size: 20px;
    height: 35%;
}
.SearchIcon{
    position: relative;
    right: 5%;
    height: 12%;
    width: 5%;
}
.Logo2{
    width: 20%;
    height: 100%;
}
.Logo3{
    width: 16%;
    height: 70%;
}
.Logo2:hover,
.Logo3:hover {
    filter: brightness(0) saturate(100%) invert(23%) sepia(90%) saturate(5000%) hue-rotate(330deg);
    cursor: pointer;
}

.p1:hover {
    color: red;
    cursor: pointer;
}
.text{
    background-color: rgb(255, 255, 255);
    margin-left: 90px;
    margin-top: 20px;
    height: 600px;
    width: 600px;
   
}
.title{
    font-size: 30px;
    margin: 0;
    font-family: 'Bodoni MT';
}

/* Esconde os inputs de rádio */
input[type="radio"] {
  display: none;
}

/* Miniaturas */
.miniaturas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 60px;
    margin-right: 50px;
}

.miniaturas label img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
}

.miniaturas label img:hover {
  transform: scale(1.1);
  border: 2px solid rgb(170, 170, 170);
}

/* Imagens grandes */
.imagem-principal img {
    display: none;
    width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    padding: 5px;
    margin-top: 10px;
}

/* Mostrar imagem correspondente ao input selecionado */
#img1:checked ~ .imagem-principal img.img1,
#img2:checked ~ .imagem-principal img.img2,
#img3:checked ~ .imagem-principal img.img3,
#img4:checked ~ .imagem-principal img.img4 {
  display: block;
}
.preto{
    color: black;
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    font-family: 'Roboto';
    margin-left: 10px;

}
.cinza{
    color: rgb(61, 61, 61);
    font-size: 20px;
    margin: 0;
    font-family: 'Roboto';
    margin-left: 10px;

}
.preco{
    color: black;
    font-size: 40px;
    margin: 0;
    font-weight: 800;
    font-family: 'Roboto';
    margin-left: 10px;

}
.precinho{
    color: gray;
    font-size: 20px;
    text-decoration: line-through;
    margin: 0;
    font-family: 'Roboto';
    margin-left: 10px;

}
.informacoes{
    border: solid 5px gray;
    margin-top: 60px;
}
.parcelas{
    color: rgb(62, 62, 62);
    font-size: 25px;
    font-weight: 800;
    font-family: 'Roboto';
    margin-left: 10px;
}
.botao{
    border: solid 20px rgb(147, 0, 0);
    border-radius: 50px;
    background-color: rgb(147, 0, 0);
    font-size: 20px;
    color: white;
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.estrelas{
    margin-left: 450px;
    font-size: 20px;
}
.wishlist{
    color: rgb(138, 138, 138);
    font-size: 20px;
    margin-left: 15px;
    font-weight: 800;
}
.quantidade
{
    font-size: 25px;
    border: 2px solid rgb(208, 208, 208);
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}
.num{
    font-size: 30px;
    border: 2px solid rgb(208, 208, 208);
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    margin: 0;
}
.quant{
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin: 0;
}
.inicio{
    margin-left: 150px;
    font-size: 30px;
    color: rgb(58, 58, 58);
    margin-top: 80px;
    text-decoration: none;
}
.descricao-container {
    border-top: 1px solid rgb(204, 204, 204);
    padding: 30px 40px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    margin-top: 40px;
    margin: 60px auto;
}

.descricao-titulo {
    font-size: 26px;
    font-weight: 700;
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
    align-items: center;
}

.descricao-texto {
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
    text-align: justify;
}

.mostrar-mais {
    color: rgb(46, 46, 46);
    font-weight: 600;
    text-decoration: none;
    align-items: center;
}

.mostrar-mais:hover {
    text-decoration: underline;
}
input[type=number] {
  width: 40px;
  padding: 5px;
  font-size: 16px;
  margin-left: 10px;
}
footer{
    background-color: black;
    width: 100%;
    height: auto;
}
.cadastroNewsletter{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
}
.cadastroNewsletterP{
    margin: 0;
    font-size: 45px;
    font-family: 'Bodoni MT';
    color: white;
}
.cadastroNewsletterP2{
    font-size: 25px;
    font-family: 'Bodoni MT';
    color: white;
    margin: 0;
}
#nomeNewsletter{
    border-radius: 50px;
    font-size: 25px;
    border: none;
}
#emailNewsletter{
    border: none;
    font-size: 25px;
    border-radius: 50px;
    margin-left: 25px;
}
form{
    padding: 20px;
    border-radius: 50%;
}
form ::placeholder{
    padding-left: 10px;
}
#botaoNewsletter{
    margin-left: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 2px solid white;

}
#botaoNewsletter:hover{
    transition: 0.3s;
    background-color: rgb(56, 56, 56);
}
.direitosAutorais{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.direitosAutoraisP{
    font-size: 15px;
    color: white;
}
.atendimentoAoCliente{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}
.tituloAtendimento{
    padding-left: 10px;
    color: white;
    font-size: 25px;
}
.textoAtendimento{
    margin: 0;
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    font-size: 20px;
}
.overlay {
  position: absolute;
  bottom: -100%; /* começa fora da imagem */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  transition: bottom 0.3s ease;
}
.imagem-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.imagem-container img {
  transition: transform 0.3s ease;
}
.imagem-container:hover .overlay {
  bottom: 0;
}
.imagem-container:hover img {
  transform: scale(1.05);
}
a{
    text-decoration: none;
    color: black;
}
.dropdownNav{
    display: none;
    z-index: 1;
    background-color: rgb(230, 230, 230);
    position: absolute;
}
nav button{
    border: 0;
    font-size: 15px;
}
nav button:hover .dropdownNav{
    display: block;
}
button{
    cursor: pointer;
}
